doctype html
html(lang="en")
  head
    title Signed Up
    style.
      h2 {
      text-transform: uppercase;
      text-align: center;
      font-size: 1.5vw;
      letter-spacing: 0.125vw;
      font-weight: 500;
      }
  body
    h2 Your account has been created, #{firstName} #{lastName}!

